<h1>Main</h1>

<table>
  <%= form_tag(action: "index", controller: "main") do %>
    <tr>
      <th>N value</th>
      <th><%= text_field_tag :n %></th>
    </tr>
    <tr><th><%= submit_tag 'Done' %></th></tr>
  <% end %>
</table>

<% if @n %>
<table>
  <tr>
    <th>Méthode</th>
    <th>Valeur trouvée</th>
    <th>Difference absolue</th>
    <th>Temps de calcul</th>
  </tr>

  <% @n.each do |k, v| %>
  <tr>
    <th><%= k %></th>
    <td><%= v[0] %></td>
    <td><%= Math::PI/2 - v[0] %></td>
    <td><%= v[1] %></td>
  </tr>
  <% end %>

</table>

  <%= image_tag "out.png" %>
<% end %>
